.main__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5rem 0;
  background-color: $color-primary-1;

  &::after {
    content: "";
    background-image: url(../../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80%;
    z-index: 0;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: papayawhip;
  border-radius: 1rem;
  max-width: 30rem;
  background-color: white;
  z-index: 1;
}

.card__hero {
  border-radius: 1rem 1rem 0 0;
}

.card__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0.5rem;
  color: $color-Desaturated-blue;
  width: 90%;

  &-h1 {
    color: $color-black;
    padding: 0.8rem 0;
    font-weight: 900;
    font-size: 2rem;
  }

  &-p {
    font-size: 1.5rem;
    line-height: 1.5;
    // font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
}

.card__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.685);
  padding: 0.5rem;
  margin: 2rem 0;
  font-size: 1.4rem;
  width: 100%;
  border-radius: 1rem;

  &-container {
    margin-right: auto;
    padding: 0 1.4rem;
    color: $color-black;
  }

  &-img {
    width: 4.5rem;
  }

  &-p {
    color: rgba(0, 0, 0, 0.39);
  }

  &-link {
    color: $color-primary-2;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
      opacity: 0.7;
    }
  }
}

.card__btn {
  background-color: $color-primary-2;
  color: $color-white;
  border-radius: 1rem;
  letter-spacing: 0.3rem;
  padding: 1.3rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.411) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.37) 0px 2px 4px -1px;

  &:hover {
    opacity: 0.7;
  }
}

.card__cancel {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.562);
  padding: 2rem;

  &:hover {
    color: rgb(0, 0, 0);
  }
}
